.ing-bg {
    background-color: $ing-orange !important;
    color: white !important;
  }
  
.ing-border {
    border-color: $ing-orange !important;
}

.ing-text {
    color: $ing-orange !important;
}

.ing-text .nav-link{
    color: $ing-orange !important;
}

.ing-btn {
    background-color: $ing-orange !important;
    border-color: $ing-orange !important;
    color: white !important;
}